<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>Caesar</h1>
      <p>put your text</p>
      <form action="/decrypt">
        <textarea id="" cols="30" rows="10" class="form-control" name="text-to-decrypt"></textarea>
        <input type="hidden" name="start_time" value="<%= @start_time %>">
        <input type="submit" class="btn btn-primary" value="decrypt!">
      </form>
    </div>
  </div>
</div>

